<header class="header">
    <div class="container d-md-flex align-items-md-center">
        <section class="header-sign py-4 py-md-0 text-center text-md-start me-md-auto">
            <a class="header-title" href="/">Bits &amp; Bytes</a>
            <p class="header-desc">A random collection of notes, personal tips, and general things.</p>
        </section>
        
        <Navigation></Navigation>

    </div>
</header>

